/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $regular-font-family;
}

h1 {
  font-family: $h1-font-family;
}

h2 {
  font-family: $h2-font-family;
}

ul {
  list-style: none;
}