@import "lib";
@import "widgets/hero";
@import "widgets/main";
@import "widgets/about";

.img-group {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  img {
    height: 470px;
    margin: auto auto 20px auto;
    width: 300px;
  }
}