@import "lib";

#pretzel-video {
  position: absolute;
  width: 100%;
}

video {
  display: inline-block;
  z-index: -2;
}

#hero-container {
  height: 600px;
  min-width: 1045px;
}

#hero {
  @include abs-pos(0, 0, auto, 0);
  color: $white;
  z-index: -1;
  height: inherit;
  width: inherit;
  overflow: hidden;

  .logo {
    @include abs-pos(22px, auto, auto, 18px);
    font: 900 22px $default-font-family;
  }

  .site-info {
    @extend %center;

    .name {
      font: 900 60px $default-font-family;
    }

    .description {
      font: italic bold 18px/1.1 $default-font-family;
      margin: 15px 0 0 0;
      text-align: center;
    }
  }
}


#content-container {
  @extend %horizontal-center-block;
  padding: 96px 32px;
}

.section {
  @extend %horizontal-center-block;
  color: $light-gray;
  font: 16px/1.43 $default-font-family;
  width: 66%;

  h1 {
    color: $dark-gray;
    font: 32px/1.1 $default-font-family;
    margin: 0 0 40px 0;
    text-align: center;
  }
}

.about {
  position: relative;
  img {
    border-radius: 10px;
    display: inline-block;
    width: 20%;
  }
  div {
    display: inline-block;
    margin-left: -5px;
    padding: 0 0 0 30px;
    vertical-align: top;
    width: 80%;
  }
}