@import "lib";

body {
  display: flex;
  flex-direction: column;
}

.hero {
  color: $white;
  height: 200px;
  position: relative;

  .video-container {
    @include abs-pos(0, auto, auto, 0);
    height: inherit;
    width: 100%;
  }

  video {
    @include abs-pos(auto, auto, 0, auto);
    width: 100%;
  }

  .logo {
    @include abs-pos(5px, auto, auto, 10px);
//    @include abs-pos(22px, auto, auto, 18px);
    font: 900 15px $default-font-family;
  }

  .site-info {
    @extend %center;

    .name {
      font: 900 20px $default-font-family;
      text-align: center;
    }

    .description {
      font: italic bold 15px/1.1 $default-font-family;
//      margin: 15px 0 0 0;
      text-align: center;
    }
  }
}

@media(min-width: 700px) {
  .hero {
    height: 394px;
  }
}

@media(min-width: 1070px) {
  .hero {
    height: 600px;

    .site-info {
      .name {
        font: 900 60px $default-font-family;
      }

      .description {
        font: italic bold 18px/1.1 $default-font-family;
      }
    }

    .logo {
      font: 900 22px $default-font-family;
    }
  }
}

.content {
  @extend %horizontal-center-block;
  padding: 96px 32px;
}

.section {
  @extend %horizontal-center-block;
  color: $light-gray;
  font: 16px/1.43 $default-font-family;
  width: 66%;

  h1 {
    color: $dark-gray;
    font: 32px/1.1 $default-font-family;
    margin: 0 0 40px 0;
    text-align: center;
  }
}

.about {
  position: relative;
  img {
    border-radius: 10px;
    display: inline-block;
    width: 20%;
  }
  div {
    display: inline-block;
    margin-left: -5px;
    padding: 0 0 0 30px;
    vertical-align: top;
    width: 80%;
  }
}