section {
  ol, ul {
    list-style-position: inside;

    li + li {
      margin-top: 10px;
    }
  }
}

section ol {
  counter-reset:item;
  padding-left: 20px;

  & > li { // Bolds numbers
    padding:0 0 0 1.5em;
    text-indent:-1.5em;
    list-style-type:none;
    counter-increment:item;

    &:before {
      display:inline-block;
      width:1.5em;
      padding-right:0.5em;
      font-weight:bold;
      text-align:right;
      content:counter(item) ".";
    }
  }
}

section ul {
  padding-left: 25px;
}