.about {
  display: flex;
  flex-flow: row wrap;

  img, div {
    margin: auto;
  }

  div {
    margin-bottom: 30px;
  }
//  img {
//    @extend %horizontal-center-block;
//    border-radius: 10px;
//    display: block;
//  }
//  div {
//    margin: 0 0 10px 0;
//  }
}

//@media(min-width: 570px) {
//  .about {
//
//    img {
//      float: left;
//      width: 20%
//    }
//
//    div {
//      float: right;
//      padding: 0 0 0 15px;
//      width: 80%;
//    }
//  }
//}