video {
  width: 100%;
}

.hero {
  color: $white;
  font: 15px $regular-font-family;
  font-weight: 900;
  position: relative;

  video {
    width: 100%;
  }

  .logo {
    @include abs-pos(15px, auto, auto, 15px);
  }

  .links {
    @include abs-pos(15px, 15px, auto, auto);
  }

  .site-info {
    @extend %center;
    text-align: center;

    .name {
      font-size: 20px
    }

    .description {
      font: italic bold 15px/1.1 $h2-font-family;
    }
  }

  nav {
    @include abs-pos(0, 0, auto, 0);
    height: 65px;
  }
}

.hero.no-media {
  color: $black;
  height: 150px;

  // Undoes centering mixin. Only center horizontally.
  .site-info {
    bottom: 0;
    top: auto;
    transform: translate(-50%, 0);
  }
}

@media(min-width: 590px) {
  .hero {
    font-size: 18px;

    .site-info {
      .name {
        font-size: 36px;
      }

      .description {
        font: italic bold 16px/1.1 $regular-font-family;
      }
    }
  }
}

@media(min-width: 974px) {
  .hero {
    font-size: 22px;

    .site-info {
      .name {
        font-size: 60px;
      }

      .description {
        font: italic bold 18px/1.1 $regular-font-family;
      }
    }
  }
}