video {
  width: 100%;
}

.hero {
  color: $white;
  font: 15px $regular-font-family;
  font-weight: 900;
  position: relative;

  video {
    width: 100%;
  }

  .logo {
    @include abs-pos(15px, auto, auto, 15px);
  }

  .links {
    @include abs-pos(15px, 15px, auto, auto);
  }

  .site-info {
    @extend %center;
    text-align: center;

    .name {
      font-size: 20px
    }

    .description {
      font: italic bold 15px/1.1 $h2-font-family;
    }
  }
}

@media(min-width: 590px) {
  .hero {
    font-size: 18px;

    .site-info {
      .name {
        font-size: 36px;
      }

      .description {
        font: italic bold 16px/1.1 $regular-font-family;
      }
    }
  }
}

@media(min-width: 974px) {
  .hero {
    font-size: 22px;

    .site-info {
      .name {
        font-size: 60px;
      }

      .description {
        font: italic bold 18px/1.1 $regular-font-family;
      }
    }
  }
}