main {
  @extend %horizontal-center-block;
  padding: 30px 25px 0 20px;
}

section {
  @extend %horizontal-center-block;
  color: $light-gray;
  font: 20px/1.43 $regular-font-family;
  margin-bottom: 40px;

  h1 {
    color: $dark-gray;
    font: 26px/1.1 $h1-font-family;
    text-align: center;
  }

  h1, p {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }
}

@media(min-width: 800px) {
  section {
    width: 700px;

    h1 {
      font: 32px/1.1 $h1-font-family;
//      margin: 0 0 20px 0;
    }
  }
}

footer {
  background-color: $light-black;
  color: $white;
  padding: 20px;
  text-align: center;
  width: 100%;
}