main {
  @extend %horizontal-center-block;
  padding: 20px 15px;
}

section {
  @extend %horizontal-center-block;
  color: $light-gray;
  font: 16px/1.43 $default-font-family;
  margin: 0 0 40px 0;

  h1 {
    color: $dark-gray;
    font: 26px/1.1 $default-font-family;
    margin: 0 0 10px 0;
    text-align: center;
  }

  img {
    max-width: 100%;
  }
}

@media(min-width: 570px) {
  section {
    width: 550px;
  }
}

@media(min-width: 800px) {
  main {
    padding: 60px 32px;
  }

  section {
    width: 700px;

    h1 {
      font: 32px/1.1 $default-font-family;
      margin: 0 0 20px 0;
    }
  }
}