@import 'footer';
@import 'article/list_styles';

main {
  padding: 30px 25px 0 20px;
}

section, header {
  display: flex;
  color: $light-gray;
  flex-flow: column wrap;
  font: 20px/1.43 $regular-font-family;
  margin: 0 auto 40px auto;

  h1 {
    color: $dark-gray;
    font: 26px/1.1 $h1-font-family;
  }

  h1, h2 {
    text-align: center;
  }

  img {
    display: flex;
    margin: auto;
    max-width: 100%;
  }
}

section {
  h1, p, ol, ul, code {
    margin-bottom: 20px;
  }
}

header {
  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

@media(min-width: 745px) {
  main {
    padding: 30px 0 0 0;
  }

  section, header {
    width: 700px;
  }

  h1 {
    font: 32px/1.1 $h1-font-family;
  }
}

#disqus_thread {
  padding-top: 40px;
}

.footnote {
  color: #999999;
}