---
layout: default
title: It's sha boy Ray-Z in the building!
---
<div class="hero">
    <video loop="loop" preload="auto" autoplay poster="/images/dust_on_the_coast.jpeg">
        <source src="/videos/dust_on_the_coast.mp4" type="video/mp4">
    </video>
    <nav>
        <a class="logo" href="/">shaboyrayz</a>
        <ul class="links">
            <li>
                <a href="https://www.youtube.com/channel/UCB_5VNW2kpkCRn-aH9lNBqQ">Lift Log</a>
            </li>
            <li>
                <a href="/side-projects">Side Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="site-info">
        <div class="name">Raymond Carino</div>
        <div class="description">Full-Stack Software Engineer</div>
    </div>
</div>

<main>
    <section class="about">
        <div>
            <h1>It's sha boy Ray-Z in the building!</h1>
            Raymond Carino (born 1990) is better known by his stage name Ray-Z. Ray-Z is a basketball phenom,
            weightlifter, and software artiste. Unbeknownst to many Ray-Z's moniker is an homage to the
            rapper Jay-Z. Similar to how Jay pushed pills and counted bills, Ray pushes code and counts bills.
        </div>
        <figure>
            <img src="/images/shaboyrayz.jpg">
            <figcaption>Ray-Z circa 2009</figcaption>
        </figure>
    </section>

    <section>
        <h1>Software Engineering Highlights</h1>

        <h2>2016-2018</h2>
        <p>
            Carino signed with a boutique fitness firm. He expanded his well-rounded arsenal by adding
            hardcore backend skills to his already efficient Android and frontend-web game. He picked up a couple
            buzzwords: Docker, Postgres, Microservices, React, and Kotlin.
        </p>

        <h2>2015-2016</h2>
        <p>
            Carino signed with an enterprise backup company as an early frontend engineer (Series A). He
            contributed to many high profile features which have since elevated the company to a $1B+ valuation.
        </p>

        <h2>2014-2015</h2>
        <p>
            Carino joined an ad-tech company. He added several high-visibility features and improved core-product
            stability. The company IPO'd during Carino's tenure.
        </p>

        <h2>2012-14</h2>
        <p>
            Carino worked the first 2 years of his career at a top media company. Carino was instrumental in creating a
            home-baked CMS and front-end framework that unified many discrete tech stacks into one.
        </p>

        <h2>2008-12</h2>
        <p>
            Carino received his Bachelor's degree in computer science from UC Berkeley. While there, he garnered a
            reputation as a pick-up basketball phenom. Carino dominated the post with his imposing
            stature of 5'11.33", 230lbs.
        </p>

    </section>
</main>
