---
layout: default
title: It's sha boy Ray-Z in the building!
---
<div class="hero">
    <video loop="loop" preload="auto" autoplay poster="/images/dust_on_the_coast.jpeg">
        <source src="/videos/dust_on_the_coast.mp4" type="video/mp4">
    </video>
    <nav>
        <a class="logo" href="/">shaboyrayz</a>
        <ul class="links">
            <li>
                <a href="/side-projects">Side Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="site-info">
        <div class="name">Raymond Carino</div>
        <div class="description">Full-Stack Software Engineer</div>
    </div>
</div>

<main>
    <section class="about">
        <div>
            <h1>It's sha boy Ray-Z in the building!</h1>
            Raymond Carino (born 1990) is better known by his stage name Ray-Z. Ray-Z is a basketball phenom,
            weightlifter, and software artiste. He adeptly blends minimalism, functional paradigms, and object oriented
            programming. The result is sheer elegance. Unbeknownst to many Ray-Z's moniker is actually an homage to the
            rapper Jay-Z. Similar to how Jay pushed pills and counted bills, Ray pushes code and counts bills.
        </div>
        <figure>
            <img src="/images/shaboyrayz.jpg">
            <figcaption>Ray-Z circa 2009</figcaption>
        </figure>
    </section>

    <section>
        <h1>Software Engineering Career</h1>

        <h2>2008-12</h2>

        <p>
            Carino received his Bachelor's degree in computer science from UC Berkeley. While there, he garnered a
            reputation as a pick-up basketball phenom. Carino gained renown as a post-up player due to his imposing
            stature of 5'11.33", 230lbs. He has since added a silky smooth jumper and aggressive dribble drive
            after trimming to 200lbs. He frequently draws comparisons to Lebron James.
        </p>

        <h2>2012-14</h2>

        <p>
            Carino worked the first 2 years of his career at a top media company. Prior to joining, the company's
            tech
            stack was a hodgepodge of acquired codebases with no cross-pollination between teams and projects.
            Mr Carino was instrumental in creating a modern content management system and front-end framework that
            bridged the code bases of several top traffic sites.
        </p>

        <h2>2014-2015</h2>

        <p>
            Carino joined a pre IPO ad-tech company. The company has since IPO'd and is currently trading at more
            than
            twice its IPO price. Presumably, Mr Carino played at least a small part in this by shipping several high
            impact
            projects.
        </p>

        <h2>2015-2016</h2>

        <p>
            Carino signed with an enterprise backup-solution company as an early frontend engineer (Series A). He
            contributed to many core features which have since elevated the company to a $1B+ valuation. Alas, the
            partnership would not last. The commute was untenable and Carino signed closer to home during free agency
            (1 year cliff).
        </p>

        <h2>2016-Present</h2>

        <p>
            Carino accepted a deal with a botique fitness booking company. He is currently expanding his arsenal by adding
            hardcore backend skills. More concretely, he is quickly becoming an expert in the following
            buzzwords: Docker, Postgres, Microservices, functional programming via Java 8 / Python 3, React, etc.
        </p>
    </section>
</main>
