---
layout: default
---

<div class="hero">
    <video loop="loop" preload="auto" autoplay poster="/images/hustle.png">
        <source src="/videos/hustle.mp4" type="video/mp4">
    </video>
    <nav>
        <a class="logo" href="/">shaboyrayz</a>
        <ul class="links">
            <li>
                <a href="/side-projects">Side Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="site-info">
        <div class="name">Side Hustles</div>
        <div class="description">@#$%& better have my money!</div>
    </div>
</div>

<main>
    <section id="android_side_projects">
        <h1>Check out Ray-Z's android side projects</h1>

        <div class="img-group">
            <figure>
                <a href="https://github.com/teamHardwoRK/kipp">
                    <img src="/images/codepath/kipp_screen.png">
                </a>
                <figcaption>Kipp Behavior Tracker</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/rcarino/basic-twitter">
                    <img src="/images/codepath/twitter_clone.png">
                </a>
                <figcaption>A Twitter Client</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/rcarino/grid_image_search">
                    <img src="/images/codepath/google_image_search_clone.png">
                </a>
                <figcaption>A Google Image Search Client</figcaption>
            </figure>
            <figure>
                <a href="https://github.com/rcarino/SimplePhotoViewer">
                    <img src="/images/codepath/instagram_feed_clone.png">
                </a>
                <figcaption>An Instagram Feed Client</figcaption>
            </figure>
        </div>
    </section>
</main>